.main_image {
  width: 100vw;
  margin: 0 auto;
}

.main_content {
  max-width: 1170px;
  margin: 0 auto;
}

.rescent_posts_item__content {
  max-width: 404px;
}

.section_title{
  font-weight: bold;
font-size: 16px;
line-height: 22px;
align-items: center;
text-transform: uppercase;
color: $title-text-color;
margin-top: 56px;
margin-bottom: 24px;
}

.rescent_posts_item {
  display: flex;
}
.resent_posts__block {
  @include grid;
  margin-bottom: 69px;
}

.rescent_posts_item_image {
  height: 140px;
  width: 160px;
  margin-right: 21px;
}

.rescent_posts_item__title {
  font-weight: bold;
  margin-bottom: 2px;
}

.rescent_posts_item__comments {
  font-size: 12px;
  line-height: 20px;
}

.rescent_posts_item__text {
  font-size: 14px;
  line-height: 24px;
  color: #5C5C5C;
}

@media screen and (max-width: 768px) {
.main_image {
  max-width: 712px;
  width: 100vw;
}

.main_content {
  max-width: 95%;
  margin-bottom: 60px;
}

.section_title {
  margin-top: 56px;
}

.resent_posts__block {
  display: block;
}

.rescent_posts_item {
  margin-bottom: 30px;
}
}

@media screen and (max-width: 320px) {
.main_image {
  max-width: 290px;
  width: 100vw;
}

.main_content {
  margin-top: 38px;
  max-width: 95%;
}

.section_title {
  margin-top: 38px;
  margin-bottom: 23px;
}

.resent_posts__block {
  display: block;
}

.rescent_posts_item_image {
  margin-bottom: 11px;
}

.rescent_posts_item {
  display: block;
  margin-bottom: 28px;
}

.rescent_posts_item__comments {
  font-size: 11px;
}

.rescent_posts_item__text {
  display: none;
}

}

