

.container{
  max-width:320px;
  margin-top: 23px ;
  margin-bottom: 23px ;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width:768px;
   }
  @media screen and (min-width: 1200px) {
    max-width:1170px;
  }
}

.header{
  @include d-flex-center;
  height: 118px;

  &__burger{
    background-image: url('../img/menu-button.png');
    position: absolute;
    width: 44px;
    height: 37px;
    background-color: #000;
    border: none;
    right: 28px;
    top: 20px;
    padding:0;
    cursor: pointer;
   
    background-position: center;
    background-repeat: no-repeat;
    &.active{
      background-image: url('../img/menu-button-close.png');
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
    
  }

  &__menu{
    @include d-flex-center;
    display: none;
    gap: 34px;
    @media screen and (min-width: 768px){
      display: flex;
      
    }
    @media screen and (min-width: 1200px) {
      gap: 68px;
        }
    &.active {
       position: absolute;
        display: block;
        background-color: #F5F5F5;
        width: 180px;
        right: 27px;
        top: 58px;
        margin: 10px;
      }  
  }
  &__menu{
    li{
      list-style-type: none;
      padding: 8px;
    }
    li:hover{
    @media screen and (max-width: 768px) {
      background-color:  #e5e5e5c4;
      }
    }
  }

  &__menu-link{
    @media screen and (min-width: 320px) {
      padding-left: 12px;
      padding-bottom: 6px;
      margin-top: 8px;
        }
    &.active {
    padding-left: 12px;
    padding-bottom: 6px;
    width: 180px;
    }
    &.active:hover{
      background-color: aquamarine;
    }
    
  }

  &__menu-list{

    @include d-flex-center;
    gap: 34px;
    @media screen and (min-width: 1200px) {
      gap: 68px;
        }
     
  }

  &__menu-link{
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-size: 11px;
  }
  
  &__menu-link:hover{
    color: #57A4A4;
  }

}
