@mixin d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin centered-BG{
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

@mixin content-container($width){
    width: $width - 30px;
    margin: auto;
}

@mixin grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 23px;
}

