@import "variables";
@import "mixins";
@import "reset";
@import "pages/index.scss";
@import "components/index.scss";
@import "fonts";
body{
    background-color: $body-color;
    color: $basic-text-color;
}
.container{
   max-width:1170px;
   width: 100%;
//    padding-left:20px;
//    padding-right:20px;
   margin: 0 auto;
}

