.section_title_footer{
 color: #fff;
}

.footer_content {
    margin: 0 auto;
    @include d-flex-center;
    flex-direction: column;
    background-color: black;
}
.contact_us__social{
    @include d-flex-center;
    margin-top: 35px;
    margin-bottom: 35px;
    gap: 6px;
}

.contact-us__item{
    color: $footer-text-color;
}

.footer__content_text{
    color: $footer-text-color;
}

.contact-us__list{
    @include d-flex-center;
    padding-bottom: 70px;
    @media (max-width: 768px){
        flex-direction: column;
      }
}

  @media screen and (max-width: 320px) {
.footer .section_title {
    margin-bottom: 8px;
}

.footer_content {
//   max-width: 303px;
  margin: 0 auto;

}

.footer__content_text {
  font-size: 12px;
  line-height: 20px;
  & span {
    display: none;
  }
}

.contact_us__social {
  margin-bottom: 25px;
 

.contact-us__list {
  display: block;
  margin-bottom: 47px;
}
}
}